* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
}

.header__container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgb(78, 87, 66) 70%, rgb(0, 0, 0) 30%);
    width: 100%;
    height: 300px;
}

.header__prebar1 img {
    border-radius: 35px;
    width: 75px;
    height: 75px;
    opacity: 0.35;
    margin-top: 10px;
}

.header__preprebar1 {
    border: 1px solid white;
    letter-spacing: 3px;
    display: flex;
    align-self: flex-start;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

.header__preprebar1 p {
    color: white;
    font-size: 30px;
}

.header__prebar1 {
    display: flex;
}

.header__preprebar1 span {
    font-size: 15px;
}


.header__bar2{
    width: 90%;
    height: 160px;
    margin-inline: 5%;
    background: linear-gradient(to bottom, rgb(39, 45, 33) 60%, rgb(0, 1, 0) 40%);
    border-radius: 20px;
    margin-top: 25px;
}

.bar2__prebar1 {
    display: flex;
}

.bar2__prebar1 img {
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.bar2__p1 {
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 15px;
}

.bar2__p2 {
    font-size: 28px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 100px;
}

.bar2__prebar1 button {
    width: 250px;
    height: 40px;
    background-color: rgb(21, 22, 15);
    color: rgb(102, 104, 94);
    font-family: Arial;
    border: 2px solid rgb(64, 66, 64);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
    margin-top: 25px;
    margin-left: 100px;
}

.header__contacts a {
    text-decoration: none;
    color: white;
    margin-left: 100px;
    font-size: 20px;
}

.header__contacts ul{
    display: flex;
    list-style: none;
    margin-top: 15px;
    margin-left: 220px;
}

.section1{
    width: 100%;
    height: 1000px;
    background-color: rgb(80, 85, 72);
    position: relative;
}

.section1__container{
    width: 95%;
    height: 960px;
    margin-inline: 2.5%;
    background-color: rgb(225, 226, 223);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.section1__languages{
    width: 134.4px;
    height: 200px;
    background: linear-gradient(to bottom, rgb(37, 46, 34) 14%, rgb(206, 206, 204) 14%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    position: relative;
    z-index: 1;
}

.languages__p1{
    color: rgb(137, 141, 108);
    margin-bottom: 15px;
    font-weight: 600;
}

.languages__p2{
    color: rgb(137, 141, 108);
}

.section1__languages p{
    margin-left: 15px;
}

.languages__p3{
    font-weight: 500;
}

.languages__p6{
    margin-top: 15px;
    color: rgb(137, 141, 108);
}

.section1__languages span{
    color: black;
    font-weight: 600;
}

.section1__python{
    width: 134.4px;
    height: 120px;
    background: linear-gradient(to bottom, rgb(37, 46, 34) 15%, rgb(206, 206, 204) 15%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    position: relative;
    z-index: 2;
    margin-top: -15px;
}

.python__p1{
    color: rgb(137, 141, 108);
    font-weight: 600;
    margin-bottom: 15px;
}

.section1__python p{
    margin-left: 15px;
}

.python__p{
    font-weight: 500;
}

.section1__column1{
    margin-left: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.section1__store{
    width: 134.4px;
    height: 350px;
    background: linear-gradient(to bottom, rgb(37, 46, 34) 5%, rgb(123, 129, 117) 5%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    position: relative;
    z-index: 3;
    margin-top: -20px;
}

.section1__store p{
    margin-left: 15px;
}

.store__p1{
    color: rgb(137, 141, 108);
    font-weight: 600;
}

.store__p2{
    color: rgb(175, 176, 65);
    font-weight: 600;
    font-size: 23px;
    margin-top: 10px;
}

.store__p3{
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}

.section1__about{
    width: 134.4px;
    height: 85px;
    background-color: rgb(206, 206, 204);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    position: relative;
    z-index: 2;
    margin-top: -15px;   
}

.about__p1{
    margin-top: 20px;
    margin-left: 15px;
    font-weight: 600;
    color: black;
}